$family-primary: 'Varela Round';
$family-secondary: 'Varela Round';

$navbar-breakpoint: 0;
$navbar-height: 5rem;

@import "~@fappurbate/fappify/src/scss/fappify-build";

html, body, main {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

pre {
  background: unset !important;
  padding: unset !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
